@import url("./root.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* button */
.btn-add{
    border-radius: 24px;
background: #28A745;
border: none;
padding: 10px 32px;
}
.btn-price{
    border-radius: 6.533px;
border: 0.311px solid #E8E8E8;
background: #28A745;
padding: 4px 10px;
}

/* card */
.nav-card{
    border: 1px solid #DEE2E6;
background: #FFF;
box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.10);
}
.sec-card{
    border-radius: 10px;
background: #FFF;
box-shadow: 12px 4px 25px 0px rgba(0, 0, 0, 0.20);
}
.quantity-card{
    border-radius: 33px;
border: 1px solid #E8E8E8;
background: rgba(196, 196, 196, 0.00);
padding: 10px 24px;
}
.foot-size-card{
    border-radius: 40px;
border: 1px solid rgba(0, 0, 0, 0.12);
background: #FFF;
padding: 5px 24px;
}
.related-card{
    border-radius: 0px 14px 0px 0px;
    background: var(--text-grey);   
    position: absolute;
    top: 0%;
    right: 0%;
}
.related-products-card{
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
}

/* others */
input{
    height: 35px;
    width: 35px;
    border: 1px solid #D5D5D5 !important;
    background-color: #fff;
    padding: 3px;
    border-radius: 2px;
    outline: unset !important;
}
.border-bottum{
    opacity: 0.5;
background: #000;
}
.rotate-41{
    transform: rotate(-41.689deg);   
}
.discount-position{
    position: absolute;
    top: 4%;
    left: -9%;
}

/* font-family */

.ff-roboto {
    font-family: 'Roboto';
}
.ff-poppins {
    font-family: 'poppins';
}
.ff-josefin {
    font-family: 'Josefin Sans';
}




